#diseases {
  text-align: center;
  color: #fff;
  z-index: -1000;
  border-radius: 3em;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  position: relative;
  top: 15px;
  display: block;
  overflow: hidden;
}

.feature-title {
  background-color: rgb(23, 29, 121);
  line-height: 35px;
  height: 35px;
  width: 100%;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

.disease {
  text-transform: uppercase;
  background-color: #89B3CD;
  display: block;
  height: 270px;

  .disease-menu-item {
      padding-top: 25px;
      padding: 25px 20px 0;
  }

  .symbol-left-arrow, .symbol-right-arrow {
    top: 34%;
  }

}