.disease-info {
	display: block;
	height: 225px;
	width: 100%;
	background-color: #3898D2;
  padding-top: 10px;

    .small-text {
    	margin: 0 auto;
    	width: 210px;
    	line-height: 14px;
    }

}

