#diseases {
	text-transform: uppercase;
  text-align: center;
  color: #fff;
  z-index: -1000;
  border-radius: 3em;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  position: relative;
  top: 15px;
  display: block;
  overflow: hidden;
}

.feature-title {
  background-color: rgb(23, 29, 121);
  line-height: 35px;
  height: 35px;
  width: 100%;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

.disease {
  background-color: rgb(129, 180, 207);
  display: block;
  height: 100%;
  padding: 25px 20px 0;
} 




/**********************************
 * FEATURE : HEALTH FACT SPECIFIC
 **********************************/

 /*
.disease-menu-item {
    padding-top: 25px;
}

.disease-info {
    margin: 0 auto;
    width: 140px;
}

.disease-entry {
    padding-top: 10px;
}



.hf-header-bg {
     background-color: #0E2B77;
}

.hf-menu-bg {
    background-color: #3898D2;
}

.hf-info-bg {
    background-color: #89B3CD;
}
*/