#menu {
  background-image: url('../../images/LevelupMenu.png');
  background-repeat: no-repeat;
  background-position: 25px 25px;
  font-size: 16px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.tri-wrapper {
  height: 100%;
  position: relative;
  z-index: 10;
  color: blue;
}

.top-tri, .bottom-tri, .right-tri, .left-tri {
  text-align: center;
  height: 33%;
  line-height: 6;
  text-transform: uppercase;
  position: absolute;
}

.top-tri, .bottom-tri {
  width: 300px;
}

.right-tri, .left-tri {
  display: inline-block;
  width: 150px;
  top: 100px;
}

.top-tri {
  top: 0;
}

.bottom-tri {
  bottom: 0;
}

.right-tri {
  right: 0;
}

.left-tri {
  left: 0;
}