#menu {
  background-image: url('../../images/menu-background-2.png');
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  height: 90%;
  width: 90%;
  position: absolute;
  border-radius: 3em;
  top: 5%;
  left: 5%;
  maring: 0 auto;
}

.tri-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  text-align: center;
  display: block;
  line-height: 1.5em;
}

.top-tri, .bottom-tri, .right-tri, .left-tri {
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
}

.top-tri, .bottom-tri {
  width: 100px;
}

.right-tri, .left-tri {
  display: inline-block;
  width: 100px;
}

.top-tri {
  top: 25px;
  left: 86px;
}

.bottom-tri {
  bottom: 23px;
  left: 86px;
}

.right-tri {
  right: 10px;
  top: 125px;
}

.left-tri {
  left: 0;
}