#menu {
/*  background-image: url('http://wiki.scribus.net/wiki/images/8/84/Dropshadow_element3.png');
  width: 100%;
  height: 100%;
  background-color: #fff;*/
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.tri-wrapper {
  height: 100%;
}

.top-tri, .bottom-tri, .right-tri, .left-tri {
  text-align: center;
  height: 33%;
  line-height: 6;
  text-transform: uppercase;
}

.top-tri, .bottom-tri {
  width: 100%;
  /*height: 32%;*/

}

.right-tri, .left-tri {
  display: inline-block;
  width: 48%;
  /*height: 32%;*/
}

