
#results-page {

	.history-header-bg {
	    background-color: #F8C90C;
	}

	.history-content-bg {
	    background-color: #E4B702;
	    height: 235px;
	}

	 .history-table {
	    tr {
	        border-bottom: 1px solid #fff;
	    }
	}

	.quiz-answer, .quiz-date {
		padding-top: 2.5px;
		padding-bottom: 2.5px;
	}

	.quiz-answer {
		padding-left: 10px;
	    display: inline-block;
	    width: 165px;
	    float: left;
	    text-align: left;
	}

	.quiz-date {
	    display: inline-block;
	    float: right;
	    text-align: right;
	    padding-right: 10px;
	    width: 85px;
	}

}