<div class="watch-frame">
    <div class="frame-header hc-header-bg">
        <span class="small-text">DAILY HEALTH CHECK</span>
    </div><!--./frame-header-->
    
    <div class="frame-content hc-result-bg hc-result"> 
            <div class="large-text">Good vibes human!</div>
            <div class="symbol-face-happy"></div>
    </div><!--./frame-content-->
</div><!--./watch-frame-->