<div class="watch-frame">
    <div class="frame-header hc-header-bg">
        <span class="small-text">DAILY HEALTH CHECK</span>
    </div><!--./frame-header-->
    
    <div class="frame-content hc-result-bg hc-result"> 
        <div class="medium-text">You finished your<br>health check!</div>
        <div class="symbol-result-monitor"></div>
        <div class="medium-text">You should<br>monitor your condition.</div>
    </div><!--./frame-content-->
</div><!--./watch-frame-->