<div class="healthCheckHeader">
	<h1>Health Check</h1>
</div>

<div class="healthCheckQuestion">
	<div class="question">What's wrong?</div>

	<div class="answer">
	<i class="fa fa-smile-o"></i>

	<i class="fa fa-frown-o"></i>
	</div>
</div>
