<div class="watch-frame">
    <div class="frame-header hc-header-bg">
        <span class="small-text">DAILY HEALTH CHECK</span>
    </div><!--./frame-header-->
    
    <div class="frame-content hc-result-bg hc-result"> 
        <div class="medium-text">Here's something to<br>help you out:</div>
        <div class="medium-text text-left">
            <ul>
                <li>take a break</li>
                <li>take a stroll</li> 
                <li>watch a movie</li>
            </ul>
        </div>
    </div><!--./frame-content-->
</div><!--./watch-frame-->