<div class="watch-frame">
    <div class="frame-header hc-header-bg">
        <span class="small-text">DAILY HEALTH CHECK</span>
    </div><!--./frame-header-->
    
    <div class="frame-content hc-question-bg">
        <div class="symbol-left-arrow"></div> 
        <div class="symbol-right-arrow"></div> 
        <div class="question">
            <div class="large-text">How are you doing?</div>
        </div>
        <div class="hc-options">
            <div class="hc-option-a">
                <div class="symbol-face-happy"></div>
                <div class="medium-text">good</div>
            </div> 
            <div class="hc-option-b">
                <div class="symbol-face-sad"></div>
                <div class="medium-text">bad</div>
            </div>
        </div>
    </div><!--./frame-content-->
</div><!--./watch-frame-->