<div class="watch-frame">
    <div class="frame-header hc-header-bg">
        <span class="small-text">Health Check</span>
    </div><!--./frame-header-->
    
    <div class="frame-content hc-question-bg">
        <div class="symbol-left-arrow"></div> 
        <div class="symbol-right-arrow"></div> 
        <div class="question">
            <div class="large-text">How are you doing?</div>
        </div>
        <div class="hc-options">
            <div class="hc-option-a">
                <div class="symbol-face-angry"></div>
                <div class="medium-text">angry or depressed</div>
            </div> 
            <div class="hc-option-b">
                <div class="symbol-face-sick"></div>
                <div class="medium-text">sick or tired</div>
            </div>
        </div>
    </div><!--./frame-content-->
</div><!--./watch-frame-->


<!--
<div class="healthCheckHeader">
	<h1>Health Check</h1>
</div>

<div class="healthCheckQuestion">
	<div class="question">How do you feel today?</div>

	<div class="answer">
	<i class="fa fa-smile-o"></i>

	<i class="fa fa-frown-o"></i>
	</div>
</div>
-->