
<div class="watch-frame">
    <div class="frame-header history-header-bg">
        <span class="small-text">Health History</span>
    </div><!--./frame-header-->

    <div class="frame-content history-content-bg">

		  <table class="history-table">
		  	<tr>
		  		<td class="quiz-answer">RESULT</td>
		  		<td class="quiz-date">DD-MM-YY</td>
		  	</tr>
		  	{{#each results}}
		  	<tr>
		  		<td class="quiz-answer">{{answer}}</td>
		  		<td class="quiz-date">{{date}}</td>
		  	</tr>
		  	{{/each}}
		  </table>

    </div><!--./frame-content-->
</div><!--./watch-frame-->