<div class="snake">
  <span class="snake-chunk"></span>
  <span class="snake-chunk"></span>
  <span class="snake-chunk"></span>
  <span class="snake-chunk"></span>
  <span class="snake-chunk"></span>
</div>