@import 'fonts';
@import 'layout';
@import 'watch';
@import 'pages/home';
@import 'pages/menu';
@import 'pages/question';
@import 'pages/diseases';
@import 'pages/diseaseDetail';
@import 'fontawesome/font-awesome';
@import 'pages/resultsPage';
@import 'pages/snakePage';

.power {
  z-index: 1000;
}

.page {
	font-family: Helvetica;
    font-weight: bold;
}

#watch-face {
	font-family: Helvetica, Sans-Serif;
	font-weight: bold;
	color: #000;
}

.case:before {
	z-index: 99;
}

/**********************************
 * HELPER CLASSES
 **********************************/
.text-left {
    text-align: left;
}

.text-uppercase {
    text-transform: uppercase;
}   
