@import 'fonts';
@import 'layout';
@import 'watch';
@import 'pages/home';
@import 'pages/menu';
@import 'pages/question';
@import 'pages/diseases';
@import 'pages/diseaseDetail';
@import 'fontawesome/font-awesome';
@import 'pages/resultsPage';
@import 'pages/snakePage';

.power {
  z-index: 1000;
}

#watch-face {
  font-family: helvetica;
  font-weight: bold;
  color: #fff;
}

.page {
	color: black;
	font-family: Helvetica;
    font-weight: bold;
}
